<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DocumentFormat.OpenXml" version="2.11.3" targetFramework="net48" />
  <package id="EcoCore" version="7.0.0.12631" targetFramework="net48" />
  <package id="EcoWindowsForms" version="7.0.0.12631" targetFramework="net48" />
  <package id="JsonSettings.Library" version="1.0.12" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net48" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.IO.Packaging" version="4.7.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.ProtectedData" version="4.5.0" targetFramework="net48" />
  <package id="WinForms.Library" version="1.0.58" targetFramework="net48" />
</packages>